{% load i18n %} {% load static %}

<nav class="layout-navbar {{ container_class }} navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  {% if not navbar_hide_toggle %}
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
      <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)"><i class="bx bx-menu bx-sm"></i></a>
    </div>
  {% endif %}
  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <!-- Search -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search fs-4 lh-0"></i>
        <input type="text" class="form-control border-0 shadow-none ps-1 ps-sm-2" placeholder="Search..." aria-label="Search..." />
      </div>
    </div>
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
      {% comment %}
      <!-- Place this tag where you want the button to render. -->
      <li class="nav-item lh-1 me-3">
        <a class="github-button" href="{% get_theme_variables 'git_repository' %}" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star themeselection/sneat-html-admin-template-free on GitHub">Star</a>
      </li>
      {% endcomment %}

      {% if user.is_authenticated %}
        <!-- Notification -->
        <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-1">
          <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="bx bx-bell bx-sm"></i>
            {% if unread_notification_count %}
              <span class="badge bg-danger rounded-pill badge-notifications">{{ unread_notification_count }}</span>
            {% endif %}
          </a>
          <ul class="dropdown-menu dropdown-menu-end py-0">
            <li class="dropdown-menu-header border-bottom">
              <div class="dropdown-header d-flex align-items-center py-3">
                <h5 class="text-body mb-0 me-auto">Notification</h5>
                <a href="{% url 'read_all_notification' %}" class="dropdown-notifications-all text-body" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Mark all as read" data-bs-original-title="Mark all as read"><i class="bx fs-4 bx-envelope-open"></i></a>
              </div>
            </li>

            <li class="dropdown-notifications-list scrollable-container ps">
              <ul class="list-group list-group-flush">
                <!-- Notification Item -->
                {% for notification in notifications %}
                  <li class="list-group-item list-group-item-action dropdown-notifications-item">
                    <div class="d-flex">
                      <div class="flex-grow-1">
                        <h6 class="mb-1">{{ notification.title }}</h6>
                        <p class="mb-0">{{ notification.message }}</p>
                        <small class="text-muted">{{ notification.timestamp }}</small>
                      </div>
                      {% if not notification.read %}
                        <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                      {% endif %}
                    </div>
                  </li>
                {% endfor %}
                <!-- / Notification Item -->
              </ul>
              <div class="ps__rail-x" style="left: 0px; bottom: 0px">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
              </div>
              <div class="ps__rail-y" style="top: 0px; right: 0px">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px"></div>
              </div>
            </li>

            <li class="dropdown-menu-footer border-top p-3">
              <a href="{% url 'read_all_notification' %}"><button class="btn btn-primary text-uppercase w-100">Mark all as Read</button></a>
            </li>
          </ul>
        </li>

        <!-- / Notification -->

        <!-- User -->
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
          <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online">
              <img src="{% static 'assets/img/avatars/1.png' %}" alt class="w-px-40 h-auto rounded-circle" />
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar avatar-online">
                      <img src="{% static 'assets/img/avatars/1.png' %}" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <span class="fw-medium d-block">{{ user.username }}</span>
                    <small class="text-muted">{{ user.groups.first.name }}</small>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'update_profile' %}">
                <i class="bx bx-user me-2"></i>
                <span class="align-middle">My Profile</span>
              </a>
            </li>
            {% comment %}
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <span class="d-flex align-items-center align-middle">
                  <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                  <span class="flex-grow-1 align-middle ms-1">Billing</span>
                  <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                </span>
              </a>
            </li>
            {% endcomment %}
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="bx bx-power-off me-2"></i>
                <span class="align-middle">Log Out</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- / User -->
      {% endif %}
    </ul>
  </div>
</nav>

{% comment %} {% if user.is_authenticated %}
  <script>
    function addNotification(name, message, timeAgo) {
      // Find the notification list
      var notificationList = document.querySelector('.dropdown-menu ul')
      console.log(notificationList)
    
      // Create a list item for the new notification
      var listItem = document.createElement('li')
      listItem.classList.add('list-group-item', 'list-group-item-action', 'dropdown-notifications-item')
    
      // Construct the inner HTML for the notification
      var innerHTML = `
                                                                                    <div class="d-flex">
                                                                                      <div class="flex-shrink-0 me-3">
                                                                                        <div class="avatar">
                                                                                          <span class="avatar-initial rounded-circle bg-label-danger">${name.substring(0, 2)}</span>
                                                                                        </div>
                                                                                      </div>
                                                                                      <div class="flex-grow-1">
                                                                                        <h6 class="mb-1">${name}</h6>
                                                                                        <p class="mb-0">${message}</p>
                                                                                        <small class="text-muted">${timeAgo}</small>
                                                                                      </div>
                                                                                      <div class="flex-shrink-0 dropdown-notifications-actions">
                                                                                        <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                                                                        <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                                                                      </div>
                                                                                    </div>
                                                                                  `
    
      // Set the inner HTML of the list item
      listItem.innerHTML = innerHTML
    
      // Append the new notification to the list
      notificationList.appendChild(listItem)
    }
    
    const websocketProtocol = window.location.protocol === 'https:' ? 'wss' : 'ws'
    const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notifications/`
    const socket = new WebSocket(wsEndpoint)
    
    // New event listener to capture incoming messages
    socket.addEventListener('message', (event) => {
      const messageData = JSON.parse(event.data)
      console.log('Received notification:', messageData.message) // Log the received message to the console
      showNotification(messageData.message)
    })
    
    function showNotification(notificationHTML) {
      const notificationsContainer = document.getElementById('notifications')
    
      // Create a new alert div
      const alertDiv = document.createElement('div')
      alertDiv.classList.add('alert', 'alert-dismissible', 'alert-primary', 'fade', 'show', 'mb-0')
      alertDiv.setAttribute('role', 'alert')
      alertDiv.innerHTML = notificationHTML
    
      // Create the close button
      const closeButton = document.createElement('button')
      closeButton.setAttribute('type', 'button')
      closeButton.classList.add('btn-close')
      closeButton.setAttribute('data-bs-dismiss', 'alert')
      closeButton.setAttribute('aria-label', 'Close')
      alertDiv.appendChild(closeButton)
    
      notificationsContainer.appendChild(alertDiv)
    }
    
    socket.onopen = (event) => {
      console.log(wsEndpoint)
      console.log('WebSocket connection opened!')
      // Example usage:
      addNotification('Moontasir Mahmood', 'New message received', '5 minutes ago')
      addNotification('Moontasir Mahmood', 'New message received', '5 minutes ago')
    }
    
    socket.onclose = (event) => {
      console.log('WebSocket connection closed!')
    }
  </script>
{% endif %} {% endcomment %}
