{% extends layout_path %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block vendor_css %}
  <script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>
{% endblock %}

{% block title %}
  Record Video
{% endblock %}

{% block content %}
  <h4 class="py-3 mb-4"><span class="text-muted fw-light">Account / Verify /</span> Record</h4>

  <div class="row justify-content-center">
    <video id="video" width="640" height="480" controls autoplay></video>
    <br />
    <br />
    <br />
    <button id="start" class="btn btn-primary">Start Recording</button>
    <button id="stop" class="btn btn-danger" style="display:none;">Stop Recording</button>
    <button id="upload" class="btn btn-success" style="display:none;">Upload Video</button>
  </div>
{% endblock %}

{% block page_js %}
  {{ block.super }}
  <script>
    let video = document.getElementById('video')
    let start = document.getElementById('start')
    let stop = document.getElementById('stop')
    let upload = document.getElementById('upload')
    let recorder
    let videoBlob
    let mp4File
    
    start.addEventListener('click', async () => {
      let stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: true })
      video.srcObject = stream
      recorder = new RecordRTC(stream, {
        type: 'video',
        mimeType: 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
      })
      recorder.startRecording()
      start.style.display = 'none'
      stop.style.display = 'inline'
    })
    
    stop.addEventListener('click', () => {
      recorder.stopRecording(() => {
        videoBlob = recorder.getBlob()
        let url = URL.createObjectURL(videoBlob)
        video.src = url
        upload.style.display = 'inline'
        stop.style.display = 'none'
      })
    })
    
    upload.addEventListener('click', () => {
      let formData = new FormData()
      formData.append('video_blob', videoBlob, 'video.mp4')
    
      fetch("{% url 'save_recording' %}", {
        method: 'POST',
        body: formData,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.status === 'success') {
            alert('Video uploaded successfully!')
          } else {
            alert('Video upload failed.')
          }
        })
    })
  </script>
{% endblock %}
